body{
    font-family: Arial, sans-serif
    margin 0;
    padding: 0;
}
.container{
   width: 80ù;
   margin: 0 auto; 
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
section{
    padding: 40px 0;
}
footer{
    background-color: #333;
    color: withe;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
